.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 44px;
  font-weight: Bold;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    width: 580px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.button-container {
  text-align: center;
  height: 220px;
  width: 250px;
  margin-bottom: 10px;
 
}

.show-hide-btn {
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 12px;
  height: 40px;
  width: 180px;
  color: #dd1264;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  background-color: #fddddb;
  color: #000000;
  border-radius: 14px;
  width: 240px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
